html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-family: Arial;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.floating-text {
  position: absolute;
  bottom: 20vh;
  font-size: 2.2vh;
  color: white;
  font-weight: bold;
  transition: 2s ease;
}

.custom-button:hover {
  cursor: pointer;
}

.more {
  position: absolute;
  bottom: 20vh;
  left: 33vw;
  font-size: 2vh;
  color: lightgrey;
  font-weight: bold;
}

.wh-floating-text {
  position: absolute;
  top: 35vh;
  font-size: 2.2vh;
  color: black;
  font-weight: bold;
  transition: 0.2s ease;
}

.floating-temp {
  position: absolute;
  font-size: 14px;
  color: black;
  font-weight: bold;
  left: 28px;
}

.floating-point {
  position: absolute;
  font-size: 14px;
  color: white;
  right: 215px;
  font-weight: bold;
  text-align: right;
}