@font-face {
  font-family: 'Arial';
  src: url('arial/ARIAL.TTF');
  font-weight: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('arial/ARIALBD.TTF');
  font-weight: bold;
}

@font-face {
  font-family: 'Arial Black';
  src: url('arial/ARIBLK.TTF');
}